ul{
    margin: 0px;
    padding: 0px;
}
p{
    margin: 0px;
    padding: 0px;
}
button{
    background-color: transparent;
    
    border: 0px;
    padding: 0px;
    color: black;
}
    body{
        font-size: 14px;
        background-color: rgba(28, 28, 30, 1);
        color: rgba(229, 229, 234, 1);
        font-family: SCoreDream;
        
    }     
    header{
        background-color: red;
    }
    main{
        width: 768px;
        margin: 0 auto;
        padding-bottom: 31px;
    }
    .main_box{
        width: 768px;
        margin: 0 auto;
        padding-left: 16px; /*큰 박스 기준으로 왼쪽에서 오른쪽으로 16px밀기*/
        display: inline-block; /*footer를 아래로 내리기 위해. 즉 박스를 끝낸다는 의미*/
    }
    footer{
        /* width: 768px;
        margin: 0 auto; */
        text-align: center;
        bottom: 31px;
    }
    .header_color>ul>li{
        display: inline-block;
        /* float: left; */
        list-style-type: none;
        /* width: 32px;
        height: 32px;
        border-radius: 50%; */
        padding-right: 10px;
       
    }
    .spare{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .spare>ul>li{
        display: inline-block;
        list-style-type: none;
        padding-right: 5px; /*버튼 사이의 간격*/           
    }
    .header_color>ul>li:last-child{
        padding-right: 0px;
    }
    .button_control>li>button{
        border: 2px solid white;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        padding: 9px;
    }
    .spare_button>li>button{
        background-color: #492222;
        color: white;
        /* display: inline-block; */
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        /* list-style-type: none; */
    }
    .spare_button{
        padding-left: 1px;
       padding-right: 1px;
    }
    .header_color{
        position: absolute;
        top: 20px;
        right: 20px ;
    }
    .light_and_dark button>svg{
        width: 16px;
        height: 16px;
        padding-right: 5px;
        vertical-align: text-bottom; /*span태그와 아이콘 수평 맞추기*/
    }
    .light_and_dark button{
        padding-bottom: 5px;
       /* vertical-align: middle; */
       border-bottom: 1px solid transparent;
       cursor: pointer; /* 커서가 손가락으로 변하게 하는 것*/
    }
    .light_and_dark span{
        padding-right: 10px;
        vertical-align: middle;
    }
    /* .line{text-decoration:underline;}
    .line.on{text-decoration:underline;text-underline-offset:5px;} */
   
    .light_and_dark button:hover,.light_and_dark button.sel{
        color: white;
        border-bottom: 1px solid white;     /*dark일땐 dark가 불 들어오게*/
    }
   .my_profile{
    font-size: 40px;
    font-weight: 700;
    color: rgb(255,255,255);
    padding-bottom: 20px;

   }
   .my_profile>span{
    padding-left:20px;
    vertical-align: middle;
   }
   .header_main img{
        display: inline-block;
        border-radius: 50%;
        vertical-align: middle;
   }
    .button_control>li:nth-child(1) button{
        background-color: #FF3B30;
    }
    .button_control>li:nth-child(2) button{
        background-color: blue;
    }
    .button_control>li:nth-child(3) button{
        background-color: #34C759;
    }
    .button_control>li:nth-child(4) button{
        background-color: black
    }
    .spare_button>li:nth-child(1) button{
       color: white;
    }
    .spare_button>li:nth-child(2) button{
        color: white;
    }
    .spare_button>li:nth-child(3) button{
        color: white;
    }
    .light_and_dark{
        width: 768;
        margin: 0 auto;
        padding-top: 121px;
         padding-bottom: 31px; /*높이 273을 이런 형식으로 맞춰준다. 패딩을 아래로 내리면서 */
    }
    .header_main{
        width: 768px;
        margin: 0 auto;
        padding-bottom: 10px;
        padding-left: 16px; /*전체 기준 옆으로 16px밀기*/
        /* height: 273px; */
    }
   
    /* .header_color>ul>li:nth-child(1) {
        background-color: #FF3B30;
        border: 1px solid white;
    }
    .header_color>ul>li:nth-child(2) {
        background-color: #007AFF;
        border: 1px solid white;
    }
    .header_color>ul>li:nth-child(3) {
        background-color: #34C759;
        border: 1px solid white;
    }
    .header_color>ul>li:nth-child(4) {
        background-color: blue;
        border: 1px solid white;
    } */
    /*헤더 스타일 끝*/
    .contact>li{
        list-style-type: none;
        font-size: 14px;
        padding-left: 5px;
        padding-top: 8px;
        padding-bottom: 8px;
        text-underline-offset: 10px;
        cursor: pointer;
        border-bottom: 1px solid rgb(99,99,102); 
    }
    .spare_button{
        padding-top: 20px;
    }
    .home, .mail, .phone, .message_square{
        /* display: inline-block; */
        vertical-align:top; 
        margin-left: 10px;           
    }
    .mail, .phone{
        color: rgba(229, 229, 234, 1);
        text-decoration-line: none;  /*a태그의 밑줄, 파란색 효과 없애기*/
    }
    .sub_left{
        width:240px;
        float: left; 
        /*이게 RIGHT박스를 오른쪽 위로 올려버린다.*/
        padding-right: 50px; /*sub_right박스 전체를 밀어버린다.*/
        /* display: inline-block; */  /*float: left; 때문에 무시되는 부분*/
    }
    .feather{
        width: 16px;
        height: 16px;
        font-size: 16px;
    } /*i태그인데 i가 아니고 feather로 해야 크기가 조절된다.*/
   
    .adobe, .sketch, .figma, .invision, .html{
        list-style-type: none;
        font-size: 14px;
        padding-left: 5px;
        padding-bottom: 8px;
        color: rgb(209,209,214);
        padding-top: 15px;
        vertical-align: middle;
        border-bottom: 1px solid rgb(99,99,102);
    }
    .skill_gray{
        font-size: 16px;
        font-weight: 300;
        padding-left: 5px;
        padding-bottom: 16px;
        color: rgb(99,99,102);
        padding-top: 15px;
        list-style-type: none;
        
    }
    .education>li{
        list-style-type: none;
        font-size: 14px;
        padding-left: 5px;
        padding-bottom: 8px;
        color: rgb(209,209,214);
    }
    .education_gray>span{
        color: gray;
        padding-bottom: 15px;
    }
    .education_gray{
        border-bottom: 1px solid rgba(128, 128, 128, 0.486);
    }
    .sub_left>h1{
        font-size: 19px;
        font-weight: 800;
        padding-bottom: 16px;
        padding-top: 10px;
        color: #FF3529;
    }/*sub_left*/
    .sub_right{
        width:462px; 
       /*왼쪽 박스 옆에 자석처럼 붙여버림 그렇게 되서 왼쪽의 너비까지 포함해서 462가 넣어져버린다. 
       즉 오른쪽으로 너비가 더 필요한 상황. 결국은 768로 설정해야 내가 원래 하려고 했던 462를 넣은 효과가 나타난다. 
       한가지 더 생각해야 하는건 왼쪽박스에서 16PX만큼 옆으로 밀었으니까 결국 462->768->753*/
       display: inline-block;
      
    }
    .sub_right>h1{
        font-size: 19px;
        font-weight: 800;
        padding-bottom: 16px;
        color: #FF3529;
    }
   .content{
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(99,99,102);
   }

    .right_gray{
        color: rgb(99,99,102);
        padding-bottom: 20px;
    }
    .bold{
        padding-top: 10px;
        padding-bottom: 5px;
    }
    /*메인 끝*/
    .footer_box{
        margin-bottom: 62px;
    }
    .icon_box{
        width: 20px;
        padding-bottom: 30px;
        float: left;
       }
       .under_line_1{
        width: 350px;   /*저장 버튼이 들어올 수 있게 너비를 줄여 저장 버튼의 공간 생성*/
        display: inline-block; /*위의 float-left를 이용해 바로 옆에 붙이려고*/
        list-style-type: none;
        border-bottom: 1px solid gray;
        padding-top: 5px;  /*전체 길이 내리기*/
       }
       .under_line_2{
        width: 350px; /*저장 버튼이 들어올 수 있게 너비를 줄여 저장 버튼의 공간 생성*/
        display: inline-block; /*위의 float-left를 이용해 바로 옆에 붙이려고*/
        list-style-type: none;
        border-bottom: 1px solid gray;
        padding-top: 4px;
       }
       
        .save_button{
            background-color: #B7CFEE;
            color: black;
            border: none;
            padding: 7px;   /*크기조절*/
            border-radius: 5px; /*버튼 모서리 지우기*/
            text-align: center; /*저장 글씨 버튼 가운데에 오게 하기*/
            margin-left: 400px;
        }
        .up_box{
            padding-top: 20px;
            padding-bottom: 60px;
        }
        .git{
            list-style-type: none;
            padding-bottom: 20px;
            
        }
        .input_git, .input_mail{
            width: 350px;
            background-color: transparent;
            border-width: 0;
        }
        /*여기까지 up박스*/
        .mail2{
            list-style-type: none;
            /* padding-right: 9px; */
        }
        .git2{
            width: 450px;
            padding-bottom: 10px;
            padding-top: 10px;
            list-style-type: none;
        }
        .git2_gray{
            width: 450px;
            padding-top: 10px;
            color: gray;
            list-style-type: none;
        }
        .sub_find{
            /* width: 370px; */
            border-bottom: 1px dotted gray;
            padding-bottom: 20px;
            padding-top: 10px;
        }
       .black{
            width: 350px;
            padding-right: 60px; /*짧은 php 개발자 찾습니다 제외하고 나머지 li 아이콘과 문장 떨어뜨리기*/
        }
        .black_short{
            width: 350px;
            padding-right: 160px; /*문장 자체가 짧아 너비가 좁음. 그래서 억지로 밀어서 아이콘 위치 정하기*/
        }
        .icon_eye{
            padding-right: 20px;
        }
        .find{
            padding-bottom: 10px;
        }
        .git-commit2, .mail_2{
            margin-right: 5px; /*왼쪽 아이콘과 문장 간격 띄우기*/
        }
        .mail_2_gray{
            margin-right: 5px; /*회색 메일 아이콘의 간격 띄우기*/
            color: gray;
        }
        .black_gray{
            color: gray;
        }
        .last_button_control{
            padding-top: 30px;
            padding-left: 170px;
        }
        .last_button>ul>li{
            display: inline-block;
            list-style-type: none;
            padding-right: 12px; /*버튼 사이의 간격*/           
        }
        .last_button_control>li>button{
            background-color: #0C81FD;
            color: black;
            /* display: inline-block; */
            border: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            text-align: center;
            /* list-style-type: none; */
        }
        .last_button_control>li:nth-child(1) button{
           color: white;
           border: 2px solid rgba(233, 223, 223, 0.534);
        }
        .last_button_control>li:nth-child(2) button{
            color: black;
        }
        .last_button_control>li:nth-child(3) button{
            color: black;
        }
        .button_1, .button_2, .button_3{
            cursor: pointer;
        }
        /*메인 끝*/
        .footer_box{
            padding-bottom: 31px;
        }